@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'TheJamsil5Bold';
}

.container {
  width: 760px;
  padding: 10px;
  background-color: #979eeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  position: relative;
}

.wearForecast {
  font-family: 'TheJamsil5Bold';
  font-size: 2.5rem;
  color: #282c34;
  text-align: center;
}

.weather-info {
  width: 100%;
  background-color: #f0f0f0; 
  color: #333;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  height: 150px; 
  line-height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.popup-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.popup-button:active {
  background-color: #3e8e41;
}

.iconsignin {
  font-size: 24px;
}