@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #979eeb;
}

.wearForecast {
  font-family: 'TheJamsil5Bold';
  font-size: 3rem;
  color: #282c34;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
}