@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans Display', sans-serif;
}

.container {
  width: 600px;
  padding: 10px;
  background-color: #979eeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  position: relative;
}

.Top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 15px;
}

.wearForecast {
  font-family: 'TheJamsil5Bold';
  font-size: 1rem;
  left: 30px;
}

.weather-info {
  width: 100%;
  background-color: #f0f0f0; 
  color: #333;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  height: 150px; 
  line-height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  
}

.popup-button:hover {
  transform: scale(1.1);
}

.button{
  display: flex;
  gap: 10px;
}

.iconsignin {
  font-size: 25px;
}

.iconuser {
  font-size: 25px;
}

.loginHeader {
  font-family: 'TheJamsil5Bold';
}